

.block1, .block2, .block3, .block4, .block5 {
  float: left;
  width: auto;
  margin: auto;
}

   h1 {
    font-size: 19px; /* Большой черный шрифт */
    font-weight: 400;
    color: #000000;
   }
   p {
    font-size: 13px; /* Маленький черный шрифт */
    font-weight: 400;
    color: #000000;
    }
    H3
    {
     font-size: 13px; /* Маленький серый шрифт */
     font-weight: 400;
     color: #828282;
     }
     H4
     {
      font-size: 13px; /* Маленький синий шрифт */
      font-weight: 400;
      color: #2a588d;
      }
      H5
      {
       font-size: 19px; /* Большой синий шрифт */
       font-weight: 400;
       color: #2a588d;
       }
       H6
       {
        font-size: 13px; /* Белый шрифт для кнопок */
        font-weight: 400;
        color: #ffffff;
        }
   P.ghgh1 {
  background-color:#5e81a8; /* Цвет фона 1 */
    }
    P2 {
    background-color:#ffffff; /* Цвет фона 2 */
     }
     P3 {
     background-color:#e5ebf1; /* Цвет фона 3 */
      }
